@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Mvc.Localization
 
@inject IViewLocalizer Localizer
<h1>@Localizer["Title"]</h1>

<div>
    <h4>@Localizer["Subtitle"]</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Localizer["Field1"]
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Title)
		</dd>
		<dt class="col-sm-2">
			@Localizer["Field2"]
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ReleaseDate)
		</dd>
		<dt class="col-sm-2">
			@Localizer["Field3"]
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Genre)
		</dd>
		<dt class="col-sm-2">
			@Localizer["Field4"]
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Price)
		</dd>
		<dt class="col-sm-2">
			@Localizer["Field5"]
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Rating)
		</dd>
	</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">@Localizer["Button"]</a> |
    <a asp-action="Index">@Localizer["LinkBack"]</a>
</div>
