@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Edit";
}
@using Microsoft.AspNetCore.Mvc.Localization
 
@inject IViewLocalizer Localizer

<h1>@Localizer["Title"]</h1>

<h4>@Localizer["SubTitle"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="ID" />
			<div class="form-group">
				<label class="control-label">@Localizer["Field1"]</label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@Localizer["Field2"]</label>
				<input asp-for="ReleaseDate" class="form-control" />
				<span asp-validation-for="ReleaseDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@Localizer["Field3"]</label>
				<input asp-for="Genre" class="form-control" />
				<span asp-validation-for="Genre" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@Localizer["Field4"]</label>
				<input asp-for="Price" class="form-control" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">@Localizer["Field5"]</label>
				<input asp-for="Rating" class="form-control" />
				<span asp-validation-for="Rating" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="@Localizer["Button"]" class="btn btn-primary" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["BackLink"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
